/* Stylesheet for the playing cards */

/* For the points awarded to players after winning a game */
.card, .hand .stars .star {
  margin: .5rem;
  font-size: 6rem;
  border-top: white 2rem solid;
  border-bottom: white .35rem solid;
  line-height: 5rem;
  display: inline-block;
  transition: all .5s;
  opacity: 1;
  min-height: 1em;
  min-width: 1em;
  background: white;
  /* padding: 0px; */
  border-radius: 5px;
  cursor: pointer;
}

/* For the div  */
.card div {
  height: 100%;
  width: 100%;
}


.spades, .clubs {
  color: black;
}

.hearts, .diamonds {
  color: red;
}

.background .card {
  color: white;
  background: transparent;
  border-top: transparent;
}

.background .card:hover {
}


/* Aces */
.active .card-0.front-side:hover, .active .card-13.front-side:hover, .active .card-26.front-side:hover, .active .card-39.front-side:hover {
  animation: pulse 1s infinite;
  cursor: text;
}

.active .card-0.front-side, .active .card-13.front-side, .active .card-26.front-side, .active .card-39.front-side {
  animation: pulse-light 1s infinite;
  cursor: text;
}
 